# EDA
___

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../../Data/Movies/IMDB_Movies_cleaned.csv')
df.head()

,title,year,genre,duration,country,language,director,writer,production_company,actors,avg_vote,votes,budget,usa_gross_income,worldwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,Metropolis,1927,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",8.3,148396,780000,1236166,1349711,98.0,471.0,194.0
1,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Virginia Cherrill, Florence Lee, Harry Myers, ...",8.5,152716,1500000,19181,32609,99.0,270.0,120.0
2,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Charles Chaplin, Paulette Goddard, Henry Bergm...",8.5,197969,1500000,163577,445226,96.0,262.0,146.0
3,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",7.6,168735,1499000,184925486,184925486,95.0,229.0,166.0
4,Gone with the Wind,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,"Thomas Mitchell, Barbara O'Neil, Vivien Leigh,...",8.1,269664,3977000,200852579,402352579,97.0,808.0,183.0

___
## production_company dummy

In [3]:
df['production_company'].value_counts()

Universal Pictures          296
Warner Bros.                291
Columbia Pictures           284
Paramount Pictures          273
Twentieth Century Fox       207
                           ...
Corn Cobb Productions         1
Imperative Entertainment      1
Stage 6 Films                 1
Petit Film                    1
FTM Productions               1
Name: production_company, Length: 2387, dtype: int64

In [82]:
# creating dummies for production_company
pc_dummy_df = pd.get_dummies(df['production_company']).add_prefix('prod_co-')
pc_dummy_df.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace= True)
pc_dummy_df.head()

,"prod_co-""dia""_productions_gmbh_&_co._kg",prod_co-100%_synthetic_films,prod_co-10th_hole_productions,prod_co-120db_films,prod_co-1212_entertainment,prod_co-13_productions,prod_co-1492_pictures,prod_co-1818_productions,prod_co-1821_pictures,prod_co-19_entertainment,...,prod_co-zonbo_media,prod_co-zucker_brothers_productions,prod_co-double_a_films,prod_co-erbp,prod_co-here!_films,prod_co-i_am_other,prod_co-i5_films,prod_co-micro_scope,prod_co-nwave_pictures,prod_co-thefyzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

___
## genre dummy

In [84]:
genre_dummy_df = df['genre'].map(lambda x: x.split(', ')).str.join('|').str.get_dummies().add_prefix('genre-')
genre_dummy_df.rename(columns = lambda x: x.lower(), inplace=True)
genre_dummy_df.head()

,genre-action,genre-adventure,genre-animation,genre-biography,genre-comedy,genre-crime,genre-drama,genre-family,genre-fantasy,genre-film-noir,...,genre-horror,genre-music,genre-musical,genre-mystery,genre-romance,genre-sci-fi,genre-sport,genre-thriller,genre-war,genre-western
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

___
## country dummy

In [96]:
country_dum_df = df['country'].map(lambda x: x.split(', ')).str.join('|').str.get_dummies().add_prefix('country-')
country_dum_df.rename(columns = lambda x: x.lower(), inplace = True)
country_dum_df.head()

,country-afghanistan,country-algeria,country-angola,country-argentina,country-aruba,country-australia,country-austria,country-bahamas,country-belgium,country-bhutan,...,country-turkey,country-uk,country-usa,country-ukraine,country-united arab emirates,country-uruguay,country-venezuela,country-vietnam,country-west germany,country-yugoslavia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0