# EDA
___

In [2]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../../Data/Movies/IMDB_Movies_cleaned.csv')
df.head()

,title,year,genre,duration,country,language,director,writer,production_company,actors,avg_vote,votes,budget,usa_gross_income,worldwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,Metropolis,1927,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",8.3,148396,780000,1236166,1349711,98.0,471.0,194.0
1,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Virginia Cherrill, Florence Lee, Harry Myers, ...",8.5,152716,1500000,19181,32609,99.0,270.0,120.0
2,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Charles Chaplin, Paulette Goddard, Henry Bergm...",8.5,197969,1500000,163577,445226,96.0,262.0,146.0
3,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",7.6,168735,1499000,184925486,184925486,95.0,229.0,166.0
4,Gone with the Wind,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,"Thomas Mitchell, Barbara O'Neil, Vivien Leigh,...",8.1,269664,3977000,200852579,402352579,97.0,808.0,183.0

In [12]:
df['production_company'].value_counts()

Universal Pictures       296
Warner Bros.             291
Columbia Pictures        284
Paramount Pictures       273
Twentieth Century Fox    207
                        ...
UK Film Council            1
APJAC Productions          1
Eisei Gekijo               1
Esperanto Kino             1
Zeta Entertainment         1
Name: production_company, Length: 2387, dtype: int64

In [19]:
pd.get_dummies(df['production_company']).head()

,"""DIA"" Productions GmbH & Co. KG",100% Synthetic Films,10th Hole Productions,120dB Films,1212 Entertainment,13 Productions,1492 Pictures,1818 Productions,1821 Pictures,19 Entertainment,...,Zonbo Media,Zucker Brothers Productions,double A Films,erbp,here! Films,i am OTHER,i5 Films,micro_scope,nWave Pictures,thefyzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
pd.get_dummies(df['genre'])

,Action,"Action, Adventure","Action, Adventure, Biography","Action, Adventure, Comedy","Action, Adventure, Crime","Action, Adventure, Drama","Action, Adventure, Family","Action, Adventure, Fantasy","Action, Adventure, History","Action, Adventure, Horror",...,"Romance, Sci-Fi, Thriller","Romance, Thriller",Sci-Fi,"Sci-Fi, Thriller",Thriller,"Thriller, Drama","Thriller, Western","War, Drama","War, Drama, Action",Western
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6454,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6458,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df['genre'].map(lambda x: x.split(','))

0                     [Drama,  Sci-Fi]
1           [Comedy,  Drama,  Romance]
2            [Comedy,  Drama,  Family]
3       [Animation,  Family,  Fantasy]
4          [Drama,  History,  Romance]
                     ...
6454        [Drama,  Horror,  Mystery]
6455               [Biography,  Drama]
6456               [Action,  Thriller]
6457                 [Comedy,  Family]
6458                          [Comedy]
Name: genre, Length: 6459, dtype: object