# 01 - Cleaning
___

In [1]:
# import
import pandas as pd
import numpy as np

In [2]:
# reads
gross_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/raw/movies_total_gross.csv')
summary_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/raw/movies_summary.csv')
castcrew_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/raw/movies_castcrew.csv')

___
## Total Gross

In [3]:
gross_df.head()

,bom_id,title,total_gross,theaters,release_date,year
0,rl2759034369,Star Wars: Episode IV - A New Hope,"$307,263,857","1,750",May 25,1977
1,rl3561784833,The Deep,"$47,346,365",731,Jun 17,1977
2,rl2004059649,The Spy Who Loved Me,"$46,838,673",200,Jul 13,1977
3,rl2137425409,"Oh, God!","$41,687,243",198,Oct 7,1977
4,rl1582335489,Exorcist II: The Heretic,"$30,749,142",703,Jun 17,1977

In [4]:
gross_df.shape

(16247, 6)

In [5]:
gross_df.dtypes

bom_id          object
title           object
total_gross     object
theaters        object
release_date    object
year             int64
dtype: object

In [6]:
gross_df['bom_id'].value_counts()

rl3037038081    1
rl3360523777    1
rl726500865     1
rl4000679425    1
rl3473049089    1
               ..
rl1594197505    1
rl274695681     1
rl2605811201    1
rl1980139009    1
rl195396097     1
Name: bom_id, Length: 16247, dtype: int64

In [7]:
gross_df['title'].value_counts().head(60)

The Polar Express                                 12
Santa vs. the Snowman 3D                           7
Beauty and the Beast                               6
The Nightmare Before Christmas                     6
Hamlet                                             5
Ghostbusters                                       5
Metropolis                                         5
The Wizard of Oz                                   4
Raiders of the Lost Ark                            4
The Lion King                                      4
The Jungle Book                                    4
Paradise                                           4
Pinocchio                                          4
Spirited Away                                      4
Gloria                                             4
Grease                                             4
Godzilla                                           4
Ran                                                4
Only You                                           3
Jurassic Park                                      3
Forrest Gump                                       3
Total Recall                                       3
Monty Python's Life of Brian                       3
Star Wars: Episode IV - A New Hope                 3
The Girl on the Train                              3
Leviathan                                          3
Dark Horse                                         3
Poltergeist                                        3
Fearless                                           3
Alien                                              3
Cinderella                                         3
Venom                                              3
Hero                                               3
The Family                                         3
The Lord of the Rings: The Two Towers              3
The Square                                         3
Dirty Dancing                                      3
Star Wars: Episode VI - Return of the Jedi         3
Glory                                              3
The Island                                         3
Chaos                                              3
Home                                               3
Brothers                                           3
Star Wars: Episode V - The Empire Strikes Back     3
Bully                                              3
Hercules                                           3
Three                                              3
Little Women                                       3
E.T. the Extra-Terrestrial                         3
Night of the Living Dead                           3
Nobody's Fool                                      3
Stolen                                             3
Donnie Darko                                       3
Princess Mononoke                                  3
Peter Pan                                          3
Casablanca                                         3
The Producers                                      3
Youth                                              3
The Karate Kid                                     3
Snow White and the Seven Dwarfs                    3
Name: title, dtype: int64

In [8]:
gross_df.loc[gross_df['title'] == 'The Polar Express']

,bom_id,title,total_gross,theaters,release_date,year
5815,rl292259329,The Polar Express,"$162,775,358","3,650",Nov 10,2004
6500,rl309036545,The Polar Express,"$10,900,597",66,Nov 23,2005
7094,rl342590977,The Polar Express,"$2,940,722",37,Nov 17,2006
7716,rl359368193,The Polar Express,"$2,483,757",32,Oct 5,2007
8348,rl376145409,The Polar Express,"$1,705,694",26,Nov 21,2008
8984,rl392922625,The Polar Express,"$514,354",21,Nov 6,2009
9476,rl510363137,The Polar Express,"$672,796",17,Dec 3,2010
10029,rl527140353,The Polar Express,"$711,168",25,Nov 25,2011
10626,rl275482113,The Polar Express,"$669,289",17,Nov 21,2012
13464,rl3523315201,The Polar Express,"$765,154",129,Nov 11,2016
14116,rl201688577,The Polar Express,"$875,150",-,Nov 17,2017
14869,rl2433123841,The Polar Express,"$731,018",392,Nov 2,2018

In [9]:
gross_df.loc[gross_df['title'] == "Santa vs. the Snowman 3D"]

,bom_id,title,total_gross,theaters,release_date,year
5015,rl3194979841,Santa vs. the Snowman 3D,"$1,934,053",25,Nov 1,2002
5478,rl3094316545,Santa vs. the Snowman 3D,"$3,045,032",46,Oct 31,2003
6010,rl3111093761,Santa vs. the Snowman 3D,"$1,926,034",24,Oct 22,2004
6560,rl3127870977,Santa vs. the Snowman 3D,"$1,222,538",32,Oct 31,2005
7138,rl3144648193,Santa vs. the Snowman 3D,"$928,275",29,Oct 30,2006
7768,rl3161425409,Santa vs. the Snowman 3D,"$769,405",24,Nov 8,2007
8411,rl3178202625,Santa vs. the Snowman 3D,"$433,797",18,Oct 31,2008

In [10]:
gross_df.loc[gross_df['title'] == 'Beauty and the Beast']

,bom_id,title,total_gross,theaters,release_date,year
1764,rl4490753,Beauty and the Beast,"$145,863,363","1,960",Nov 15,1991
4670,rl21267969,Beauty and the Beast,"$25,487,190",68,Jan 1,2001
5143,rl239371777,Beauty and the Beast,"$138,503",3,Jun 21,2002
10465,rl256148993,Beauty and the Beast,"$47,617,067","2,625",Jan 13,2012
13477,rl880772609,Beauty and the Beast,"$160,215",3,Feb 12,2016
13872,rl222594561,Beauty and the Beast,"$504,014,165","4,210",Mar 17,2017

In [11]:
gross_df.loc[gross_df['title'] == 'The Nightmare Before Christmas']

,bom_id,title,total_gross,theaters,release_date,year
2210,rl124225025,The Nightmare Before Christmas,"$50,003,043","1,671",Oct 15,1993
4365,rl107447809,The Nightmare Before Christmas,"$376,586",72,Oct 27,2000
7056,rl2806089217,The Nightmare Before Christmas,"$8,700,869",168,Oct 20,2006
7635,rl426214913,The Nightmare Before Christmas,"$14,486,897",564,Oct 19,2007
8358,rl442992129,The Nightmare Before Christmas,"$1,109,188",284,Oct 24,2008
8994,rl459769345,The Nightmare Before Christmas,"$406,085",105,Oct 23,2009

In [12]:
gross_df.loc[gross_df['title'] == 'Ghostbusters']

             bom_id         title   total_gross theaters release_date  year
429    rl3696592385  Ghostbusters  $229,242,989    1,506        Jun 8  1984
658    rl3663037953  Ghostbusters    $9,389,135      990       Aug 23  1985
11886  rl3646260737  Ghostbusters    $3,580,343      784       Aug 29  2014
13155  rl3679815169  Ghostbusters  $128,350,574    3,963       Jul 15  2016
15776   rl420185601  Ghostbusters      $369,612      546        Oct 6  2019

In [13]:
gross_df.loc[gross_df['title'] == 'Hamlet']

             bom_id   title  total_gross theaters release_date  year
1726    rl911640065  Hamlet  $20,710,451      624       Dec 22  1990
3146    rl894862849  Hamlet   $4,708,156       93       Dec 27  1996
4308    rl861308417  Hamlet   $1,577,287       65       May 12  2000
14985  rl4094068225  Hamlet     $235,229      480        Mar 8  2018
15846  rl4228417025  Hamlet     $214,578      572        Jul 8  2019

In [14]:
gross_df.loc[gross_df['title'] == 'Metropolis']

             bom_id       title total_gross theaters release_date  year
5049   rl1717732865  Metropolis    $722,932       16       Jan 25  2002
5059   rl1650624001  Metropolis    $650,422        8       Jul 12  2002
7969   rl1667401217  Metropolis     $28,779        1       Jul 20  2007
9492   rl1684178433  Metropolis    $529,603        9        May 7  2010
10261  rl1700955649  Metropolis     $27,362       16        Oct 7  2011

In [15]:
# the above are duplicates so we can drop all but the original release
pe_drop = gross_df.loc[gross_df['title'] == 'The Polar Express'].index[1:]
svs_drop = gross_df.loc[gross_df['title'] == "Santa vs. the Snowman 3D"].index[1:]
bnb_drop = [4670, 5143, 10465, 13477]
nbc_drop = gross_df.loc[gross_df['title'] == 'The Nightmare Before Christmas'].index[1:]
gb_drop = [658, 11886, 15776]
ham_drop = [14985, 15846]
metro_drop = gross_df.loc[gross_df['title'] == 'Metropolis'].index[1:]

___

In [16]:
gross_df.head()

,bom_id,title,total_gross,theaters,release_date,year
0,rl2759034369,Star Wars: Episode IV - A New Hope,"$307,263,857","1,750",May 25,1977
1,rl3561784833,The Deep,"$47,346,365",731,Jun 17,1977
2,rl2004059649,The Spy Who Loved Me,"$46,838,673",200,Jul 13,1977
3,rl2137425409,"Oh, God!","$41,687,243",198,Oct 7,1977
4,rl1582335489,Exorcist II: The Heretic,"$30,749,142",703,Jun 17,1977

In [17]:
summary_df.head()

,bom_id,imdb_id,title,movie_summary,gross
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope,Distributor\nTwentieth Century Fox\nSee full c...,"Grosses\nDOMESTIC (61.1%)\n$307,263,857\nINTER..."
1,rl3561784833,tt0075925,The Deep,Distributor\nColumbia Pictures\nSee full compa...,"Grosses\nDOMESTIC (100%)\n$47,346,365\nINTERNA..."
2,rl2004059649,tt0076752,The Spy Who Loved Me,Distributor\nUnited Artists\nSee full company ...,"Grosses\nDOMESTIC (100%)\n$46,838,673\nINTERNA..."
3,rl2137425409,tt0076489,"Oh, God!",Distributor\nWarner Bros.\nSee full company in...,"Grosses\nDOMESTIC (100%)\n$41,687,243\nINTERNA..."
4,rl1582335489,tt0076009,Exorcist II: The Heretic,Distributor\nWarner Bros.\nSee full company in...,"Grosses\nDOMESTIC (100%)\n$30,749,142\nINTERNA..."

In [18]:
castcrew_df.head()

,bom_id,imdb_id,title,crew,cast
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope (1977),"['George Lucas', 'Director', 'George Lucas', '...","['Mark Hamill', 'Harrison Ford', 'Carrie Fishe..."
1,rl3561784833,tt0075925,The Deep (1977),"['Peter Yates', 'Director', 'Peter Benchley', ...","['Jacqueline Bisset', 'Nick Nolte', 'Dick Anth..."
2,rl2004059649,tt0076752,The Spy Who Loved Me (1977),"['Lewis Gilbert', 'Director', 'Christopher Woo...","['Roger Moore', 'Barbara Bach', 'Curd Jürgens'..."
3,rl2137425409,tt0076489,"Oh, God! (1977)","['Carl Reiner', 'Director', 'Larry Gelbart', '...","['John Denver', 'George Burns', 'Teri Garr', '..."
4,rl1582335489,tt0076009,Exorcist II: The Heretic (1977),"['John Boorman', 'Director', 'Rospo Pallenberg...","['Richard Burton', 'Linda Blair', 'Louise Flet..."

In [19]:
gross_df.shape

(16247, 6)

In [20]:
summary_df.shape

(16247, 5)

In [21]:
castcrew_df.shape

(16247, 5)

In [22]:
summary_df['bom_id'].value_counts()

rl3037038081    1
rl3360523777    1
rl726500865     1
rl4000679425    1
rl3473049089    1
               ..
rl1594197505    1
rl274695681     1
rl2605811201    1
rl1980139009    1
rl195396097     1
Name: bom_id, Length: 16247, dtype: int64

In [23]:
summary_df['imdb_id'].value_counts()

ERROR!!      36
tt0338348    12
tt0337714     7
tt0107688     6
tt0032138     4
             ..
tt0171685     1
tt0470679     1
tt4824308     1
tt0183790     1
tt0084445     1
Name: imdb_id, Length: 15924, dtype: int64

In [24]:
castcrew_df['imdb_id'].value_counts()

ERROR!!      36
tt0338348    12
tt0337714     7
tt0107688     6
tt0032138     4
             ..
tt0171685     1
tt0470679     1
tt4824308     1
tt0183790     1
tt0084445     1
Name: imdb_id, Length: 15924, dtype: int64

In [25]:
summary_df.loc[summary_df['imdb_id'] == 'ERROR!!']

,bom_id,imdb_id,title,movie_summary,gross
2163,rl4131489281,ERROR!!,"Dancing/The Song of Wolfgang the Intrepid, the...",Distributor\nExpanded Entertainment\nSee full ...,"Grosses\nDOMESTIC (100%)\n$181,273\nINTERNATIO..."
3340,rl1531479553,ERROR!!,ERROR!!,ERROR!!,ERROR!!
3666,rl2672395777,ERROR!!,Bugs Bunny Film Festival,Distributor\nWarner Bros.\nSee full company in...,"Grosses\nDOMESTIC (100%)\n$413,076\nINTERNATIO..."
4105,rl1836549633,ERROR!!,Tout Truffaut,Distributor\nWinStar Cinema\nSee full company ...,"Grosses\nDOMESTIC (100%)\n$11,206\nINTERNATION..."
4971,rl695436801,ERROR!!,Spider-Man/Men in Black II,Distributor\nSony Pictures Entertainment (SPE)...,"Grosses\nDOMESTIC (100%)\n$6,632,970\nINTERNAT..."
5052,rl3361506817,ERROR!!,Kurosawa & Mifune Festival,Distributor\nCowboy Pictures\nSee full company...,"Grosses\nDOMESTIC (100%)\n$561,692\nINTERNATIO..."
5152,rl3745744385,ERROR!!,Tarkovsky At 70,Distributor\nKino International\nSee full comp...,"Grosses\nDOMESTIC (100%)\n$177,345\nINTERNATIO..."
5608,rl1012106753,ERROR!!,The Fassbinder Series,Distributor\nWellspring Media\nSee full compan...,"Grosses\nDOMESTIC (100%)\n$162,885\nINTERNATIO..."
7097,rl3091236353,ERROR!!,After Dark's Horror Fest: 8 Films to Die For,Distributor\nFreestyle Releasing\nSee full com...,"Grosses\nDOMESTIC (100%)\n$2,575,000\nINTERNAT..."
7157,rl2809759233,ERROR!!,Viva Pedro!,Distributor\nSony Pictures Classics\nSee full ...,"Grosses\nDOMESTIC (100%)\n$579,539\nINTERNATIO..."
7421,rl91915777,ERROR!!,The World According to Shorts,Distributor\nNew Yorker Films\nSee full compan...,"Grosses\nDOMESTIC (100%)\n$12,908\nINTERNATION..."
7461,rl1449821697,ERROR!!,The Pusher Trilogy,Distributor\nMagnolia Pictures\nSee full compa...,"Grosses\nDOMESTIC (100%)\n$4,815\nINTERNATIONA..."
7755,rl609781249,ERROR!!,After Dark's Horrorfest 2,Distributor\nAfter Dark Films\nSee full compan...,"Grosses\nDOMESTIC (100%)\n$874,635\nINTERNATIO..."
7906,rl1953334785,ERROR!!,The Red Balloon / White Mane,Distributor\nJanus Films\nSee full company inf...,"Grosses\nDOMESTIC (70.6%)\n$69,139\nINTERNATIO..."
8458,rl206276097,ERROR!!,Che: Part One/Che: Part Two,Distributor\nIFC Films\nSee full company infor...,"Grosses\nDOMESTIC (84.2%)\n$1,497,109\nINTERNA..."
9437,rl24544769,ERROR!!,Twilight/New Moon,Distributor\nSummit Entertainment\nSee full co...,"Grosses\nDOMESTIC (100%)\n$2,385,237\nINTERNAT..."
9709,rl1483179521,ERROR!!,Nine Nation Animation,Distributor\nThe World According to Shorts\nSe...,"Grosses\nDOMESTIC (100%)\n$38,382\nINTERNATION..."
11656,rl4183262721,ERROR!!,Guitar Innovators: John Fahey & Nels Cline,Distributor\nFirst Run\nSee full company infor...,"Grosses\nDOMESTIC (100%)\n$6,132\nINTERNATIONA..."
12616,rl1465222657,ERROR!!,Game of Thrones Season 4 Finale,Distributor\nWarner Bros.\nSee full company in...,"Grosses\nDOMESTIC (100%)\n$1,896,092\nINTERNAT..."
12624,rl1451001345,ERROR!!,Back To The Future Day,Distributor\nUniversal Home Video\nSee full co...,"Grosses\nDOMESTIC (34%)\n$1,650,000\nINTERNATI..."
12704,rl1396868609,ERROR!!,The Apu Trilogy,Distributor\nJanus Films\nSee full company inf...,"Grosses\nDOMESTIC (100%)\n$402,723\nINTERNATIO..."
13128,rl2927396353,ERROR!!,Rediscover Sautet,Distributor\nRialto Pictures\nSee full company...,"Grosses\nDOMESTIC (100%)\n$25,314\nINTERNATION..."
13341,rl1174504961,ERROR!!,Harry Potter IMAX Marathon,Distributor\nIMAX\nSee full company informatio...,"Grosses\nDOMESTIC (96.9%)\n$1,729,226\nINTERNA..."
13861,rl989890049,ERROR!!,Marius/Fanny/César,Distributor\nJanus Films\nSee full company inf...,"Grosses\nDOMESTIC (100%)\n$24,787\nINTERNATION..."
14169,rl3741484545,ERROR!!,Disney Junior HalloVeen Party!,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$359,745\nINTERNATIO..."
14877,rl2886108673,ERROR!!,Jim Henson's Holiday Special with Fraggle Rock...,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$695,130\nINTERNATIO..."
14889,rl4010182145,ERROR!!,The Walking Dead: Wrath/The Walking Dead/Fear ...,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$605,764\nINTERNATIO..."
14902,rl503744001,ERROR!!,Dragon Ball Z: Bardock - The Father of Goku/Dr...,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$540,707\nINTERNATIO..."
14947,rl3808855553,ERROR!!,Sailor Moon R: The Movie: The Promise of the R...,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$335,697\nINTERNATIO..."
15020,rl1124500993,ERROR!!,Cobra Kai Premiere Event feat. The Karate Kid,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$185,082\nINTERNATIO..."
15190,rl3758523905,ERROR!!,Jumanji/Jumanji: Welcome to the Jungle,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$49,381\nINTERNATION..."
15302,rl554075649,ERROR!!,"A Bread Factory, Part One/A Bread Factory, Par...",Distributor\nIn the Family\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$17,325\nINTERNATION..."
15832,rl3081142785,ERROR!!,Friendsgiving Day #1,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$246,168\nINTERNATIO..."
15857,rl2863038977,ERROR!!,Friendsgiving Day #2,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$198,869\nINTERNATIO..."
15902,rl2265548289,ERROR!!,Doctor Who: Logopolis,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$143,248\nINTERNATIO..."
16166,rl2550892033,ERROR!!,Fritz Lang's Indian Epic,Distributor\nFilm Movement\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$9,345\nINTERNATIONA..."

In [26]:
castcrew_df.loc[castcrew_df['imdb_id'] == 'ERROR!!']

             bom_id  imdb_id    title crew cast
2163   rl4131489281  ERROR!!  ERROR!!   []   []
3340   rl1531479553  ERROR!!  ERROR!!   []   []
3666   rl2672395777  ERROR!!  ERROR!!   []   []
4105   rl1836549633  ERROR!!  ERROR!!   []   []
4971    rl695436801  ERROR!!  ERROR!!   []   []
5052   rl3361506817  ERROR!!  ERROR!!   []   []
5152   rl3745744385  ERROR!!  ERROR!!   []   []
5608   rl1012106753  ERROR!!  ERROR!!   []   []
7097   rl3091236353  ERROR!!  ERROR!!   []   []
7157   rl2809759233  ERROR!!  ERROR!!   []   []
7421     rl91915777  ERROR!!  ERROR!!   []   []
7461   rl1449821697  ERROR!!  ERROR!!   []   []
7755    rl609781249  ERROR!!  ERROR!!   []   []
7906   rl1953334785  ERROR!!  ERROR!!   []   []
8458    rl206276097  ERROR!!  ERROR!!   []   []
9437     rl24544769  ERROR!!  ERROR!!   []   []
9709   rl1483179521  ERROR!!  ERROR!!   []   []
11656  rl4183262721  ERROR!!  ERROR!!   []   []
12616  rl1465222657  ERROR!!  ERROR!!   []   []
12624  rl1451001345  ERROR!!  ERROR!!   []   []
12704  rl1396868609  ERROR!!  ERROR!!   []   []
13128  rl2927396353  ERROR!!  ERROR!!   []   []
13341  rl1174504961  ERROR!!  ERROR!!   []   []
13861   rl989890049  ERROR!!  ERROR!!   []   []
14169  rl3741484545  ERROR!!  ERROR!!   []   []
14877  rl2886108673  ERROR!!  ERROR!!   []   []
14889  rl4010182145  ERROR!!  ERROR!!   []   []
14902   rl503744001  ERROR!!  ERROR!!   []   []
14947  rl3808855553  ERROR!!  ERROR!!   []   []
15020  rl1124500993  ERROR!!  ERROR!!   []   []
15190  rl3758523905  ERROR!!  ERROR!!   []   []
15302   rl554075649  ERROR!!  ERROR!!   []   []
15832  rl3081142785  ERROR!!  ERROR!!   []   []
15857  rl2863038977  ERROR!!  ERROR!!   []   []
15902  rl2265548289  ERROR!!  ERROR!!   []   []
16166  rl2550892033  ERROR!!  ERROR!!   []   []

In [27]:
# these entries are not actual movies, but compelations of shows or movies released in theaters,
# so they can be droped from all 3 dfs.
drop_ids = summary_df.loc[summary_df['imdb_id'] == 'ERROR!!'].index

gross_df = gross_df.drop(drop_ids).reset_index(drop=True)
summary_df = summary_df.drop(drop_ids).reset_index(drop=True)
castcrew_df = castcrew_df.drop(drop_ids).reset_index(drop=True)

In [28]:
castcrew_df.loc[castcrew_df['title'] == 'ERROR!!']

            bom_id    imdb_id    title crew cast
12315  rl895976961  tt2250380  ERROR!!   []   []

In [29]:
gross_df.loc[12315]

bom_id                  rl895976961
title           Next Year Jerusalem
total_gross                  $8,093
theaters                          2
release_date                 May 16
year                           2014
Name: 12315, dtype: object

In [30]:
summary_df.loc[12315]

bom_id                                                 rl895976961
imdb_id                                                  tt2250380
title                                          Next Year Jerusalem
movie_summary    Distributor\nFirst Run\nSee full company infor...
gross            Grosses\nDOMESTIC (100%)\n$8,093\nINTERNATIONA...
Name: 12315, dtype: object

drop this ^

In [31]:
castcrew_df.loc[castcrew_df['crew'] == 'ERROR!!']

Empty DataFrame
Columns: [bom_id, imdb_id, title, crew, cast]
Index: []

In [32]:
castcrew_df.loc[castcrew_df['cast'] == "ERROR!!"]

Empty DataFrame
Columns: [bom_id, imdb_id, title, crew, cast]
Index: []

In [33]:
castcrew_df['bom_id'].value_counts()

rl3037038081    1
rl2171766273    1
rl4000679425    1
rl3473049089    1
rl3729884673    1
               ..
rl1980139009    1
rl1584629249    1
rl878413313     1
rl4267279873    1
rl195396097     1
Name: bom_id, Length: 16211, dtype: int64

In [34]:
castcrew_df['imdb_id'].value_counts()

tt0338348    12
tt0337714     7
tt0107688     6
tt0245429     4
tt0082971     4
             ..
tt0104868     1
tt0171685     1
tt0470679     1
tt4824308     1
tt0084445     1
Name: imdb_id, Length: 15923, dtype: int64

In [35]:
castcrew_df['title'].value_counts()

The Polar Express (2004)                 12
Santa vs. the Snowman 3D (2002)           7
The Nightmare Before Christmas (1993)     6
Grease (1978)                             4
Spirited Away (2001)                      4
                                         ..
Prince of Darkness (1987)                 1
Black Christmas (2006)                    1
Red Cherry (1995)                         1
Faces Places (2017)                       1
Ocean's Thirteen (2007)                   1
Name: title, Length: 15919, dtype: int64

In [36]:
castcrew_df['cast'].value_counts()

[]                                                                                   279
['Tom Hanks', 'Chris Coppola', 'Michael Jeter', 'Leslie Zemeckis']                    12
['Jonathan Winters', 'Ben Stein', 'Victoria Jackson', 'Don LaFontaine']                7
['William Shatner', 'Leonard Nimoy', 'DeForest Kelley', 'James Doohan']                7
['Danny Elfman', 'Chris Sarandon', "Catherine O'Hara", 'William Hickey']               6
                                                                                    ...
['Patrick Dempsey', 'Michelle Monaghan', 'Kevin McKidd', 'Kadeem Hardison']            1
['Summer Naomi Smart', 'Moronai Kanekoa', 'Brian Kary', 'D.L. Walker']                 1
['Chuck Norris', 'Brynn Thayer', 'Steve James', "Jack O'Halloran"]                     1
['Joséphine de La Baume', 'Roxane Mesquida', 'Milo Ventimiglia', 'Caitlin Keats']      1
['Lily Tomlin', 'Charles Grodin', 'Ned Beatty', 'Henry Gibson']                        1
Name: cast, Length: 15595, dtype: int64

___
I'd like to start with the imdb_ids and remove any duplicates for all three dfs.

In [37]:
castcrew_df = castcrew_df.drop_duplicates(subset='imdb_id', keep='first').reset_index(drop=True)

summary_df = summary_df.drop_duplicates(subset='imdb_id', keep='first').reset_index(drop=True)

In [38]:
castcrew_df.shape

(15923, 5)

In [39]:
summary_df.shape

(15923, 5)

In [40]:
gross_df.shape

(16211, 6)

In [41]:
castcrew_df

,bom_id,imdb_id,title,crew,cast
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope (1977),"['George Lucas', 'Director', 'George Lucas', '...","['Mark Hamill', 'Harrison Ford', 'Carrie Fishe..."
1,rl3561784833,tt0075925,The Deep (1977),"['Peter Yates', 'Director', 'Peter Benchley', ...","['Jacqueline Bisset', 'Nick Nolte', 'Dick Anth..."
2,rl2004059649,tt0076752,The Spy Who Loved Me (1977),"['Lewis Gilbert', 'Director', 'Christopher Woo...","['Roger Moore', 'Barbara Bach', 'Curd Jürgens'..."
3,rl2137425409,tt0076489,"Oh, God! (1977)","['Carl Reiner', 'Director', 'Larry Gelbart', '...","['John Denver', 'George Burns', 'Teri Garr', '..."
4,rl1582335489,tt0076009,Exorcist II: The Heretic (1977),"['John Boorman', 'Director', 'Rospo Pallenberg...","['Richard Burton', 'Linda Blair', 'Louise Flet..."
...,...,...,...,...,...
15918,rl933790209,tt9434778,Chinese Portrait (2018),[],[]
15919,rl621184513,tt3737840,The Untold Story (2019),"['Shane Stanley', 'Director', 'Lee Stanley', '...","['Tait Fletcher', 'Miko Hughes', 'Ellen Greene..."
15920,rl2349565441,tt9654814,Serendipity (2019),"['Prune Nourry', 'Director', 'Prune Nourry', '...","['Prune Nourry', 'Agnès Varda']"
15921,rl3389556225,tt7543930,In Safe Hands (2018),"['Jeanne Herry', 'Director', 'Jeanne Herry', '...","['Sandrine Kiberlain', 'Gilles Lellouche', 'Él..."
15922,rl17401345,tt6314766,Tall Tales from the Magical Garden of Antoon K...,"['Arnaud Bouron', 'Director', 'Antoon Krings',...","['Virginie Efira', 'Kev Adams', 'Emmanuel Curt..."

In [42]:
# now I need to remove extraneous rows in the gross_df
gross_df.head()

,bom_id,title,total_gross,theaters,release_date,year
0,rl2759034369,Star Wars: Episode IV - A New Hope,"$307,263,857","1,750",May 25,1977
1,rl3561784833,The Deep,"$47,346,365",731,Jun 17,1977
2,rl2004059649,The Spy Who Loved Me,"$46,838,673",200,Jul 13,1977
3,rl2137425409,"Oh, God!","$41,687,243",198,Oct 7,1977
4,rl1582335489,Exorcist II: The Heretic,"$30,749,142",703,Jun 17,1977

In [43]:
gross_df.shape

(16211, 6)

In [44]:
extras = set(gross_df['bom_id'].values) - set(castcrew_df['bom_id'].values)
extras

{'rl0558593',
 'rl1011910145',
 'rl1028687361',
 'rl1040352769',
 'rl1040549377',
 'rl107447809',
 'rl1124369921',
 'rl1149142529',
 'rl1174832641',
 'rl1224771073',
 'rl1275495937',
 'rl1316718081',
 'rl1330021889',
 'rl134383105',
 'rl1349682689',
 'rl1350206977',
 'rl1366722049',
 'rl1366787585',
 'rl1376159233',
 'rl1376355841',
 'rl1380812289',
 'rl1396737537',
 'rl142116353',
 'rl1432454657',
 'rl1497794049',
 'rl1510376961',
 'rl1510704641',
 'rl1544062465',
 'rl1583908353',
 'rl1615037953',
 'rl1635747329',
 'rl1661502977',
 'rl1667401217',
 'rl1669170689',
 'rl1684178433',
 'rl1694926337',
 'rl1700955649',
 'rl1717995009',
 'rl17204737',
 'rl1733723649',
 'rl1745323521',
 'rl1755283969',
 'rl178618881',
 'rl1818920449',
 'rl1828881921',
 'rl1829275137',
 'rl1833076225',
 'rl1835763201',
 'rl1845724673',
 'rl1845921281',
 'rl1846052353',
 'rl1849853441',
 'rl1862501889',
 'rl1866630657',
 'rl1870628353',
 'rl1919976961',
 'rl1929872897',
 'rl1930135041',
 'rl1936754177',
 'rl1951172097',
 'rl2001110529',
 'rl2004649473',
 'rl201623041',
 'rl201688577',
 'rl201950721',
 'rl2036696577',
 'rl2086110721',
 'rl2088666625',
 'rl209552897',
 'rl2097513985',
 'rl2102887937',
 'rl21267969',
 'rl2164688385',
 'rl2168817153',
 'rl2185725441',
 'rl2186446337',
 'rl2198373889',
 'rl2214823425',
 'rl2221442561',
 'rl222332417',
 'rl223118849',
 'rl2236057089',
 'rl2239530497',
 'rl2242544129',
 'rl2248574465',
 'rl2269545985',
 'rl2269742593',
 'rl2304542209',
 'rl2305787393',
 'rl2338162177',
 'rl235308545',
 'rl2357167617',
 'rl2371585537',
 'rl2399569409',
 'rl2422048257',
 'rl242451969',
 'rl2433123841',
 'rl2454816257',
 'rl2456323585',
 'rl2466743809',
 'rl2488239617',
 'rl2489222657',
 'rl2500232705',
 'rl2508097025',
 'rl2517009921',
 'rl252216833',
 'rl2523760129',
 'rl2550629889',
 'rl2558494209',
 'rl256148993',
 'rl268862977',
 'rl2690090497',
 'rl2701428225',
 'rl2706605569',
 'rl2718205441',
 'rl2725348865',
 'rl2725479937',
 'rl274105857',
 'rl275482113',
 'rl2775680513',
 'rl2789574145',
 'rl2802091521',
 'rl2802550273',
 'rl2806089217',
 'rl2818868737',
 'rl2818999809',
 'rl2852750849',
 'rl2858124801',
 'rl2890630657',
 'rl2891875841',
 'rl2908325377',
 'rl2919532033',
 'rl2919663105',
 'rl2925430273',
 'rl2926872065',
 'rl293570049',
 'rl2957673985',
 'rl2994505217',
 'rl3008660993',
 'rl3020457473',
 'rl302089729',
 'rl3025962497',
 'rl3027011073',
 'rl3030811137',
 'rl3037234689',
 'rl3070723585',
 'rl3087435265',
 'rl309036545',
 'rl3092743681',
 'rl3094316545',
 'rl3111093761',
 'rl3125970433',
 'rl3127870977',
 'rl3137897985',
 'rl3144648193',
 'rl3154544129',
 'rl3154871809',
 'rl3161163265',
 'rl3161425409',
 'rl3175646721',
 'rl3178202625',
 'rl3195897345',
 'rl3227944449',
 'rl3243410945',
 'rl3271984641',
 'rl3294594561',
 'rl3305473537',
 'rl3305539073',
 'rl3338765825',
 'rl3339159041',
 'rl3355674113',
 'rl3360327169',
 'rl3361900033',
 'rl3363145217',
 'rl3379725825',
 'rl3389097473',
 'rl3389621761',
 'rl3396503041',
 'rl33981953',
 'rl3413280257',
 'rl342590977',
 'rl3460335105',
 'rl3477767681',
 'rl3490285057',
 'rl3523315201',
 'rl3528033793',
 'rl3557328385',
 'rl3573974529',
 'rl3579479553',
 'rl359368193',
 'rl3597305345',
 'rl3614082561',
 'rl3629155841',
 'rl3630794241',
 'rl3631973889',
 'rl3646260737',
 'rl3663037953',
 'rl3665659393',
 'rl3674310145',
 'rl3674375681',
 'rl3684467201',
 'rl3691546113',
 'rl3707864577',
 'rl3707930113',
 'rl3712321025',
 'rl3713959425',
 'rl3715401217',
 'rl3732571649',
 'rl3747513857',
 'rl376145409',
 'rl3812918785',
 'rl3846407681',
 'rl3850077697',
 'rl3865085441',
 'rl3900671489',
 'rl392922625',
 'rl403015169',
 'rl4031481345',
 'rl4034889217',
 'rl4043736577',
 'rl4049700353',
 'rl4060710401',
 'rl4064904705',
 'rl4067067393',
 'rl4067264001',
 'rl4083123713',
 'rl4097869313',
 'rl4100621825',
 'rl4110910977',
 'rl4117399041',
 'rl4127491585',
 'rl41387521',
 'rl4161504769',
 'rl4184507905',
 'rl4198860289',
 'rl420185601',
 'rl4216030721',
 'rl4217472513',
 'rl4228417025',
 'rl4234249729',
 'rl4244801025',
 'rl424510977',
 'rl426214913',
 'rl426739201',
 'rl4267804161',
 'rl4268721665',
 'rl4284581377',
 'rl442992129',
 'rl453084673',
 'rl459245057',
 'rl459769345',
 'rl460817921',
 'rl493258241',
 'rl510363137',
 'rl520848897',
 'rl527140353',
 'rl541558273',
 'rl544376321',
 'rl547914241',
 'rl558073345',
 'rl561219073',
 'rl561350145',
 'rl570983937',
 'rl594118145',
 'rl610108929',
 'rl621381121',
 'rl643270145',
 'rl658998785',
 'rl694715905',
 'rl712934913',
 'rl7243265',
 'rl771851777',
 'rl778733057',
 'rl793675265',
 'rl843220481',
 'rl859932161',
 'rl877102593',
 'rl878216705',
 'rl880772609',
 'rl893748737',
 'rl895583745',
 'rl906266113',
 'rl90932737',
 'rl940017153',
 'rl940082689',
 'rl944670209',
 'rl961775105',
 'rl977438209'}

In [45]:
len(extras)

288

In [46]:
gross_df.loc[36]

bom_id                              rl977438209
title           National Lampoon's Animal House
total_gross                         $21,508,877
theaters                                     40
release_date                             Sep 21
year                                       1979
Name: 36, dtype: object

In [47]:
# get a list of ids associated with the extra bom_ids that should be dropped
drop_ids = []
for i, bom_id in enumerate(gross_df['bom_id'].values):
    for extra_id in extras:
        if bom_id == extra_id:
            drop_ids.append(i)

In [48]:
len(drop_ids)

288

In [49]:
gross_df = gross_df.drop(drop_ids, axis=0).reset_index(drop=True)

In [50]:
gross_df

,bom_id,title,total_gross,theaters,release_date,year
0,rl2759034369,Star Wars: Episode IV - A New Hope,"$307,263,857","1,750",May 25,1977
1,rl3561784833,The Deep,"$47,346,365",731,Jun 17,1977
2,rl2004059649,The Spy Who Loved Me,"$46,838,673",200,Jul 13,1977
3,rl2137425409,"Oh, God!","$41,687,243",198,Oct 7,1977
4,rl1582335489,Exorcist II: The Heretic,"$30,749,142",703,Jun 17,1977
...,...,...,...,...,...,...
15918,rl933790209,Chinese Portrait,"$4,140",2,Dec 13,2019
15919,rl621184513,The Untold Story,$790,1,Jan 18,2019
15920,rl2349565441,Serendipity,"$2,298",2,Oct 18,2019
15921,rl3389556225,In Safe Hands,"$1,737",1,Jul 26,2019
15922,rl17401345,Tall Tales from the Magical Garden of Antoon K...,$220,20,Jan 11,2019

In [51]:
gross_df.dtypes

bom_id          object
title           object
total_gross     object
theaters        object
release_date    object
year             int64
dtype: object

In [52]:
gross_df.loc[gross_df['theaters'] == '-']

,bom_id,title,total_gross,theaters,release_date,year
71,rl3411707393,The Jazz Singer,"$27,118,000",-,Dec 19,1980
6449,rl4083385857,Ma vie en cinémascope,"$2,750,263",-,Dec 17,2005
7904,rl776570369,The Breed,"$14,500",-,Jan 5,2007
12921,rl192710145,Along the Roadside,"$1,352",-,Mar 27,2015
15551,rl604734977,The Divine Plan,"$190,031",-,Nov 6,2019
15593,rl1124828673,Lynryd Skynyrd: Last of the Street Survivors F...,"$137,888",-,Nov 7,2019
15871,rl2124382721,Love Goes Public,"$5,700",-,Oct 25,2019

In [53]:
no_theater_index = gross_df.loc[gross_df['theaters'] == '-'].index
summary_df.loc[no_theater_index]

,bom_id,imdb_id,title,movie_summary,gross
71,rl3411707393,tt0080948,The Jazz Singer,Distributor\nUniversal Pictures\nSee full comp...,"Grosses\nDOMESTIC (100%)\n$27,118,000\nINTERNA..."
6449,rl4083385857,tt0396112,Ma vie en cinémascope,Distributor\nAlliance Atlantis Vivafilm\nSee f...,"Grosses\nDOMESTIC (100%)\n$2,750,263\nINTERNAT..."
7904,rl776570369,tt0455362,The Breed,Distributor\nFirst Look International\nSee ful...,"Grosses\nDOMESTIC (0.9%)\n$14,500\nINTERNATION..."
12921,rl192710145,tt2290113,Along the Roadside,Distributor\nIndican Pictures\nSee full compan...,"Grosses\nDOMESTIC (100%)\n$1,352\nINTERNATIONA..."
15551,rl604734977,tt9445830,The Divine Plan,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$190,031\nINTERNATIO..."
15593,rl1124828673,tt10980000,Lynryd Skynyrd: Last of the Street Survivors F...,Distributor\nFathom Events\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$137,888\nINTERNATIO..."
15871,rl2124382721,tt10950526,Love Goes Public,Distributor\nAspiration Entertainment\nSee ful...,"Grosses\nDOMESTIC (100%)\n$5,700\nINTERNATIONA..."

In [54]:
castcrew_df.loc[no_theater_index]

,bom_id,imdb_id,title,crew,cast
71,rl3411707393,tt0080948,The Jazz Singer (1980),"['Richard Fleischer', 'Director', 'Sidney J. F...","['Laurence Olivier', 'Neil Diamond', 'Lucie Ar..."
6449,rl4083385857,tt0396112,Ma vie en cinémascope (2004),"['Denise Filiatrault', 'Director', 'Denise Fil...","['Pascale Bussières', 'Michel Barrette', 'Serg..."
7904,rl776570369,tt0455362,The Breed (2006),"['Nicholas Mastandrea', 'Director', 'Robert Co...","['Michelle Rodriguez', 'Oliver Hudson', 'Taryn..."
12921,rl192710145,tt2290113,Along the Roadside (2013),"['Zoran Lisinac', 'Director', 'Zoran Lisinac',...","['Michael Madsen', 'Greg Collins', 'Lazar Rist..."
15551,rl604734977,tt9445830,The Divine Plan (2019),"['Robert Orlando', 'Director', 'Robert Orlando...",['Peter Reznikoff']
15593,rl1124828673,tt10980000,Lynryd Skynyrd: Last of the Street Survivors F...,[],[]
15871,rl2124382721,tt10950526,Love Goes Public (2019),[],[]

The above movies are missing crucial data (number of theaters the movie was released in) however they do contain other good data. So for the purposes of cleaning `gross_df['theaters']` will be imputed as `0` for these entries.

In [55]:
gross_df.loc[no_theater_index, 'theaters'] = "0"

In [56]:
# now that we've cleaned up the dfs a bit we can convert to numerical data
gross_df['theaters'] = gross_df['theaters'].map(lambda x: ''.join(x.split(','))).astype(int)

In [57]:
# converting total_gross to numerical data
gross_df['total_gross'] = gross_df['total_gross'].map(lambda x: ''.join(x.replace('$','').split(','))).astype(int)

In [58]:
# update release_date to include the year so when we convert to datetime, we'll have the year
gross_df['release_date'] = gross_df['release_date'].str.cat(gross_df['year'].astype(str), sep = ", ")

In [59]:
gross_df['release_date'].sort_values()

9133         -, 2009
418      Apr 1, 1983
329      Apr 1, 1983
401      Apr 1, 1983
1157     Apr 1, 1988
            ...
13023    Sep 9, 2016
13317    Sep 9, 2016
13507    Sep 9, 2016
13302    Sep 9, 2016
14640    Sep 9, 2018
Name: release_date, Length: 15923, dtype: object

In [60]:
summary_df.loc[9133]

bom_id                                                rl1665369601
imdb_id                                                  tt0071129
title                                                     Amarcord
movie_summary    Distributor\nJanus Films\nSee full company inf...
gross            Grosses\nDOMESTIC (65.3%)\n$125,493\nINTERNATI...
Name: 9133, dtype: object

In [61]:
castcrew_df.loc[9133]

bom_id                                          rl1665369601
imdb_id                                            tt0071129
title                                        Amarcord (1973)
crew       ['Federico Fellini', 'Director', 'Federico Fel...
cast       ['Magali Noël', 'Bruno Zanin', 'Pupella Maggio...
Name: 9133, dtype: object

In [62]:
gross_df.loc[9133]

bom_id          rl1665369601
title               Amarcord
total_gross           125493
theaters                   2
release_date         -, 2009
year                    2009
Name: 9133, dtype: object

In [63]:
# extraneous movie with incomplete information and not of signifcance so Amarcord can be droped from each df.
gross_df = gross_df.drop([9133]).reset_index(drop=True)
summary_df = summary_df.drop([9133]).reset_index(drop=True)
castcrew_df = castcrew_df.drop([9133]).reset_index(drop=True)

In [64]:
# convert release date to datetime format
gross_df['release_date'] = pd.to_datetime(gross_df['release_date'], format='%b %d, %Y').values

In [65]:
gross_df.dtypes

bom_id                  object
title                   object
total_gross              int64
theaters                 int64
release_date    datetime64[ns]
year                     int64
dtype: object

___

In [66]:
gross_df['title'].value_counts().head(60)

Hamlet                   4
Gloria                   4
The Square               3
Nobody's Fool            3
The Island               3
The Girl on the Train    3
Brothers                 3
Godzilla                 3
Home                     3
House                    3
Eden                     3
Chaos                    3
Fearless                 3
Little Women             3
Paradise                 3
Leviathan                3
Iceman                   3
Hero                     3
The Family               3
Youth                    3
Three                    3
Stolen                   3
Beauty and the Beast     3
Hercules                 3
Only You                 3
The Jungle Book          3
Venom                    3
The Mummy                2
Hairspray                2
Pet Sematary             2
Loverboy                 2
Running Scared           2
Innocence                2
The Thing                2
Reset                    2
Blood Ties               2
Hot to Trot              2
Death at a Funeral       2
Wanted                   2
Fireworks                2
Great Expectations       2
Happy Together           2
Sahara                   2
The Other Woman          2
The Gift                 2
Impulse                  2
As It Is in Heaven       2
Wolves                   2
My Kingdom               2
Little Men               2
Friday the 13th          2
Joker                    2
Open Season              2
The Package              2
The Aviator              2
The Garden               2
Under the Sun            2
Madame Bovary            2
Holy Hell                2
The Signal               2
Name: title, dtype: int64

In [67]:
summary_df['title'].value_counts().head(60)

Hamlet                   4
Gloria                   4
The Square               3
Nobody's Fool            3
The Island               3
The Girl on the Train    3
Brothers                 3
Godzilla                 3
Home                     3
House                    3
Eden                     3
Chaos                    3
Fearless                 3
Little Women             3
Paradise                 3
Leviathan                3
Iceman                   3
Hero                     3
The Family               3
Youth                    3
Three                    3
Stolen                   3
Beauty and the Beast     3
Hercules                 3
Only You                 3
The Jungle Book          3
Venom                    3
The Mummy                2
Hairspray                2
Pet Sematary             2
Loverboy                 2
Running Scared           2
Innocence                2
The Thing                2
Reset                    2
Blood Ties               2
Hot to Trot              2
Death at a Funeral       2
Wanted                   2
Fireworks                2
Great Expectations       2
Happy Together           2
Sahara                   2
The Other Woman          2
The Gift                 2
Impulse                  2
As It Is in Heaven       2
Wolves                   2
My Kingdom               2
Little Men               2
Friday the 13th          2
Joker                    2
Open Season              2
The Package              2
The Aviator              2
The Garden               2
Under the Sun            2
Madame Bovary            2
Holy Hell                2
The Signal               2
Name: title, dtype: int64

In [68]:
castcrew_df['title'].value_counts()

The Witness (2015)                        2
Leap Year (2010)                          2
Three (2016)                              2
Home (2008)                               2
Every Time We Say Goodbye (1986)          1
                                         ..
Goosebumps 2: Haunted Halloween (2018)    1
Playback (2012)                           1
Fireproof (2008)                          1
Zoo (2007)                                1
Ocean's Thirteen (2007)                   1
Name: title, Length: 15918, dtype: int64

In [69]:
gross_df.shape

(15922, 6)

In [70]:
gross_df.loc[gross_df['title'] == 'War of the Buttons']

,bom_id,title,total_gross,theaters,release_date,year
2870,rl1048086017,War of the Buttons,12712,2,1995-09-29,1995
10644,rl1031308801,War of the Buttons,47771,35,2012-10-12,2012

In [71]:
summary_df['imdb_id'].value_counts()

tt0323572    1
tt0492869    1
tt0101597    1
tt3202098    1
tt0215129    1
            ..
tt0443473    1
tt0107594    1
tt0096087    1
tt0098471    1
tt0084445    1
Name: imdb_id, Length: 15922, dtype: int64

In [72]:
castcrew_df['crew'].value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                               276
['Woody Allen', 'Director', 'Woody Allen', 'Writer', 'Robert Greenhut', 'Producer', 'Carlo Di Palma', 'Cinematographer', 'Susan E. Morse', 'Editor', 'Santo Loquasto', 'Production Designer']                                                                                                                                                                                                                                                                                      7
['Jean-Pierre Dardenne', 'Director', 'Luc Dardenne', 'Director', 'Jean-Pierre Dardenne', 'Writer', 'Luc Dardenne', 'Writer', 'Jean-Pierre Dardenne', 'Producer', 'Luc Dardenne', 'Producer', 'Denis Freyd', 'Producer', 'Alain Marcoen', 'Cinematographer', 'Marie-Hélène Dozo', 'Editor', 'Igor Gabriel', 'Production Designer']                                                                                                                                                  6
['Ken Loach', 'Director', 'Paul Laverty', 'Writer', "Rebecca O'Brien", 'Producer', 'George Fenton', 'Composer', 'Barry Ackroyd', 'Cinematographer', 'Jonathan Morris', 'Editor', 'Martin Johnson', 'Production Designer']                                                                                                                                                                                                                                                          4
['Peter Jackson', 'Director', 'Fran Walsh', 'Writer', 'Philippa Boyens', 'Writer', 'Peter Jackson', 'Writer', 'Guillermo del Toro', 'Writer', 'J.R.R. Tolkien', 'Writer', 'Carolynne Cunningham', 'Producer', 'Peter Jackson', 'Producer', 'Fran Walsh', 'Producer', 'Zane Weiner', 'Producer', 'Howard Shore', 'Composer', 'Andrew Lesnie', 'Cinematographer', 'Jabez Olssen', 'Editor', 'Dan Hennah', 'Production Designer']                                                     3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
['Joel Zwick', 'Director', 'Bill Cosby', 'Writer', 'Charles Kipps', 'Writer', 'John Davis', 'Producer', 'Richard Gibbs', 'Composer', 'Paul Elliott', 'Cinematographer', 'Tony Lombardo', 'Editor', 'Nina Ruscio', 'Production Designer']                                                                                                                                                                                                                                           1
['Kevin Hooks', 'Director', 'Rolando Hudson', 'Director', 'Pam Gibson', 'Writer', 'Nelson George', 'Writer', 'Pam Gibson', 'Producer', 'Andre Harrell', 'Producer', 'Michel Colombier', 'Composer', 'Zoltán David', 'Cinematographer', 'Richard Nord', 'Editor', 'Ruth Ammon', 'Production Designer']                                                                                                                                                                              1
['Dale Kutzera', 'Director', 'Dale Kutzera', 'Writer', 'James Keitel', 'Producer', 'Dale Kutzera', 'Producer', 'Greg G. Reeves', 'Producer', 'Mark Parry', 'Cinematographer', 'Joseph Butler', 'Editor']                                                                                                                                                                                                                                                                           1
["Ra'anan Alexandrowicz", 'Director', "Ra'anan Alexandrowicz", 'Writer', 'Sami Duenias', 'Writer', 'Amir Harel', 'Producer', 'Ehud Banai', 'Composer', 'Noam Halevi', 'Composer', 'Gil Smetana', 'Composer', 'Shark De Mayo', 'Cinematographer', 'Ron Goldman', 'Editor', 'Amir Pick', 'Production Designer']                                                                                                                                                                      1
['Matthew Lillard', 'Director', 'Michael M.B. Galvin', 'Writer', 'Peter Speakman', 'Writer', 'K.L. Going', 'Writer', 'Jane Charles', 'Producer', 'Matthew Lillard', 'Producer', 'Jennifer Maas', 'Producer', 'Nick Morton', 'Producer', 'Rick Rosenthal', 'Producer', 'Talan Torriero', 'Producer', 'Evan Wasserstrom', 'Producer', 'Mike McCready', 'Composer', 'Noah Rosenthal', 'Cinematographer', 'Michelle M. Witten', 'Editor', 'Tania Kupczak', 'Production Designer']      1
Name: crew, Length: 15594, dtype: int64

In [73]:
castcrew_df.loc[castcrew_df['crew'] == "['Woody Allen', 'Director', 'Woody Allen', 'Writer', 'Robert Greenhut', 'Producer', 'Carlo Di Palma', 'Cinematographer', 'Susan E. Morse', 'Editor', 'Santo Loquasto', 'Production Designer']"]

,bom_id,imdb_id,title,crew,cast
968,rl2238350849,tt0093818,Radio Days (1987),"['Woody Allen', 'Director', 'Woody Allen', 'Wr...","['Mia Farrow', 'Dianne Wiest', 'Mike Starr', '..."
1075,rl1684964865,tt0093940,September (1987),"['Woody Allen', 'Director', 'Woody Allen', 'Wr...","['Elaine Stritch', 'Denholm Elliott', 'Mia Far..."
1702,rl3560998401,tt0099012,Alice (1990),"['Woody Allen', 'Director', 'Woody Allen', 'Wr...","['Mia Farrow', 'William Hurt', 'Joe Mantegna',..."
2035,rl3864561153,tt0104466,Husbands and Wives (1992),"['Woody Allen', 'Director', 'Woody Allen', 'Wr...","['Woody Allen', 'Mia Farrow', 'Sydney Pollack'..."
2074,rl2641266177,tt0105378,Shadows and Fog (1991),"['Woody Allen', 'Director', 'Woody Allen', 'Wr...","['Woody Allen', 'Mia Farrow', 'Michael Kirby',..."
2751,rl2757920257,tt0113819,Mighty Aphrodite (1995),"['Woody Allen', 'Director', 'Woody Allen', 'Wr...","['Woody Allen', 'Mira Sorvino', 'Pamela Blair'..."
3098,rl1750107649,tt0116242,Everyone Says I Love You (1996),"['Woody Allen', 'Director', 'Woody Allen', 'Wr...","['Woody Allen', 'Goldie Hawn', 'Julia Roberts'..."

In [74]:
# save our progress
gross_df.to_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/total_gross_v01.csv', index=False)
summary_df.to_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/summary_v01.csv', index=False)
castcrew_df.to_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/castcrew_v01.csv', index=False)

___

In [75]:
castcrew_df.loc[castcrew_df['crew'] == "[]"]

,bom_id,imdb_id,title,crew,cast
1913,rl711427585,tt0306845,The National Film Board of Canada's Animation ...,[],[]
2332,rl2152039937,tt0103767,Baraka (1992),[],[]
2397,rl1800111617,tt0106556,Children of Fate: Life and Death in a Sicilian...,[],[]
2848,rl1465681409,tt0108906,The Kingdom (1994),[],[]
2857,rl3058009601,tt0112452,Ballot Measure 9 (1995),[],[]
...,...,...,...,...,...
15870,rl2124382721,tt10950526,Love Goes Public (2019),[],[]
15872,rl1896580609,tt9272368,The Miracle of the Little Prince (2018),[],[]
15904,rl1728611841,tt0096615,L'héritage de la chouette (1990),[],[]
15910,rl1795917313,tt10921806,A German Youth (2019),[],[]
15917,rl933790209,tt9434778,Chinese Portrait (2018),[],[]

In [76]:
gross_df.loc[castcrew_df.loc[castcrew_df['crew'] == "[]"].index].sort_values(by='total_gross', ascending=False)

,bom_id,title,total_gross,theaters,release_date,year
14492,rl184976897,They Shall Not Grow Old,17956913,1335,2018-12-17,2018
15317,rl722175489,Bring the Soul: The Movie,4809800,873,2019-08-07,2019
15331,rl1661568513,The Oscar Nominated Short Films 2019: Documentary,3531094,415,2019-02-08,2019
15332,rl185173505,BTS World Tour: Love Yourself in Seoul,3509917,997,2019-01-26,2019
15339,rl1024165377,Friends 25th: The One With The Anniversary,2884827,1586,2019-09-23,2019
...,...,...,...,...,...,...
12246,rl359171585,A People Uncounted,930,1,2014-05-16,2014
9655,rl4265707009,45365,853,1,2010-02-26,2010
15172,rl1007060481,TVTV: Video Revolutionaries,812,1,2018-10-19,2018
10891,rl676824577,Gottfried Helnwein and the Dreaming Child,601,1,2012-11-23,2012
8018,rl3178399233,The Sugar Curtain,582,1,2007-07-27,2007

In [77]:
summary_df.loc[castcrew_df.loc[castcrew_df['crew'] == "[]"].index]

,bom_id,imdb_id,title,movie_summary,gross
1913,rl711427585,tt0306845,The National Film Board of Canada's Animation ...,Distributor\nExpanded Entertainment\nSee full ...,"Grosses\nDOMESTIC (100%)\n$249,167\nINTERNATIO..."
2332,rl2152039937,tt0103767,Baraka,Distributor\nThe Samuel Goldwyn Company\nSee f...,"Grosses\nDOMESTIC (100%)\n$1,254,237\nINTERNAT..."
2397,rl1800111617,tt0106556,Children of Fate: Life and Death in a Sicilian...,Distributor\nFirst Run\nSee full company infor...,"Grosses\nDOMESTIC (100%)\n$1,738\nINTERNATIONA..."
2848,rl1465681409,tt0108906,The Kingdom,Distributor\nOctober Films\nSee full company i...,"Grosses\nDOMESTIC (57.7%)\n$83,381\nINTERNATIO..."
2857,rl3058009601,tt0112452,Ballot Measure 9,Distributor\nZeitgeist Films\nSee full company...,"Grosses\nDOMESTIC (100%)\n$53,819\nINTERNATION..."
...,...,...,...,...,...
15870,rl2124382721,tt10950526,Love Goes Public,Distributor\nAspiration Entertainment\nSee ful...,"Grosses\nDOMESTIC (100%)\n$5,700\nINTERNATIONA..."
15872,rl1896580609,tt9272368,The Miracle of the Little Prince,Distributor\nFilm Movement\nSee full company i...,"Grosses\nDOMESTIC (100%)\n$5,553\nINTERNATIONA..."
15904,rl1728611841,tt0096615,L'héritage de la chouette,Distributor\nIcarus Films\nSee full company in...,"Grosses\nDOMESTIC (100%)\n$12,316\nINTERNATION..."
15910,rl1795917313,tt10921806,A German Youth,Distributor\nBig World Pictures\nSee full comp...,"Grosses\nDOMESTIC (100%)\n$2,343\nINTERNATIONA..."
15917,rl933790209,tt9434778,Chinese Portrait,Distributor\nThe Cinema Guild\nSee full compan...,"Grosses\nDOMESTIC (100%)\n$4,140\nINTERNATIONA..."

These movies appear to be documentaries, however I'd like to clean up the textual information in both `summary_df` and `castcrew_df` first. For now a blank place holder will be fine.

___

## Cleaning textual data

In [105]:
# first let's focus on summary_df['gross']
summary_df['gross'].map(lambda x: x.split('\n'))[0]

['Grosses',
 'DOMESTIC (61.1%)',
 '$307,263,857',
 'INTERNATIONAL (38.9%)',
 '$195,751,992',
 'WORLDWIDE',
 '$503,015,849']

In [106]:
# Domestic
summary_df['gross'].map(lambda x: x.split('\n')[2]).value_counts()

$18,000       5
$3,000        4
$1,469        3
$16,000       3
$6,627        3
             ..
$152,114      1
$19,300       1
$12,050       1
$68,719       1
$3,662,459    1
Name: gross, Length: 15667, dtype: int64

In [107]:
# International
summary_df['gross'].map(lambda x: x.split('\n')[4]).value_counts()

–               7495
$71,000,000        5
$66,000,000        4
$87,500,000        3
$135,000,000       3
                ...
$9,353             1
$251,809           1
$142,500,000       1
$11,215,395        1
$302,140           1
Name: gross, Length: 8318, dtype: int64

In [108]:
# worldwide
summary_df['gross'].map(lambda x: x.split('\n')[6]).value_counts()

$3,000         4
$18,000        4
$4,000         3
$14,000,000    3
$6,627         3
              ..
$401,421       1
$15,238,689    1
$2,344,256     1
$10,611,160    1
$3,662,459     1
Name: gross, Length: 15778, dtype: int64

In [109]:
# make some new columns for domestic, international, worldwide

summary_df['domestic_gross'] = summary_df['gross'].map(lambda x: x.split('\n')[2]).values
summary_df['international_gross'] = summary_df['gross'].map(lambda x: x.split('\n')[4]).values
summary_df['worldwide_gross'] = summary_df['gross'].map(lambda x: x.split('\n')[6]).values

In [116]:
summary_df.drop(['gross'], axis=1, inplace=True)

In [117]:
summary_df.head()

,bom_id,imdb_id,title,movie_summary,domestic_gross,international_gross,worldwide_gross
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope,Distributor\nTwentieth Century Fox\nSee full c...,"$307,263,857","$195,751,992","$503,015,849"
1,rl3561784833,tt0075925,The Deep,Distributor\nColumbia Pictures\nSee full compa...,"$47,346,365",–,"$47,346,365"
2,rl2004059649,tt0076752,The Spy Who Loved Me,Distributor\nUnited Artists\nSee full company ...,"$46,838,673",–,"$46,838,673"
3,rl2137425409,tt0076489,"Oh, God!",Distributor\nWarner Bros.\nSee full company in...,"$41,687,243",–,"$41,687,243"
4,rl1582335489,tt0076009,Exorcist II: The Heretic,Distributor\nWarner Bros.\nSee full company in...,"$30,749,142",–,"$30,749,142"

In [121]:
summary_df['domestic_gross'] = summary_df['domestic_gross'].map(
    lambda x: ''.join(x.replace('$', '').split(','))
).astype(int)

In [123]:
summary_df['worldwide_gross'] = summary_df['worldwide_gross'].map(
    lambda x: ''.join(x.replace('$', '').split(','))
).astype(int)

In [124]:
summary_df.head()

,bom_id,imdb_id,title,movie_summary,domestic_gross,international_gross,worldwide_gross
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope,Distributor\nTwentieth Century Fox\nSee full c...,307263857,"$195,751,992",503015849
1,rl3561784833,tt0075925,The Deep,Distributor\nColumbia Pictures\nSee full compa...,47346365,–,47346365
2,rl2004059649,tt0076752,The Spy Who Loved Me,Distributor\nUnited Artists\nSee full company ...,46838673,–,46838673
3,rl2137425409,tt0076489,"Oh, God!",Distributor\nWarner Bros.\nSee full company in...,41687243,–,41687243
4,rl1582335489,tt0076009,Exorcist II: The Heretic,Distributor\nWarner Bros.\nSee full company in...,30749142,–,30749142

In [129]:
# Box Office Mojo has no international gross data available for some films so for now they'll be imputed as 0
# this might change later during EDA to be more accurate but for now it will be fine
summary_df['international_gross'] = summary_df['international_gross'].map(
    lambda x: x.replace('–','0')
).values

In [133]:
summary_df['international_gross'] = summary_df['international_gross'].map(
    lambda x: ''.join(x.replace('$','').split(','))
).astype(int)

In [134]:
summary_df.head()

,bom_id,imdb_id,title,movie_summary,domestic_gross,international_gross,worldwide_gross
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope,Distributor\nTwentieth Century Fox\nSee full c...,307263857,195751992,503015849
1,rl3561784833,tt0075925,The Deep,Distributor\nColumbia Pictures\nSee full compa...,47346365,0,47346365
2,rl2004059649,tt0076752,The Spy Who Loved Me,Distributor\nUnited Artists\nSee full company ...,46838673,0,46838673
3,rl2137425409,tt0076489,"Oh, God!",Distributor\nWarner Bros.\nSee full company in...,41687243,0,41687243
4,rl1582335489,tt0076009,Exorcist II: The Heretic,Distributor\nWarner Bros.\nSee full company in...,30749142,0,30749142

In [135]:
summary_df.dtypes

bom_id                 object
imdb_id                object
title                  object
movie_summary          object
domestic_gross          int64
international_gross     int64
worldwide_gross         int64
dtype: object

___

In [146]:
# next is to clean up summary_df['movie_summary']
summary_df['movie_summary'].map(lambda x: x.split('\n'))[654]

['Distributor',
 'Paramount Pictures',
 'See full company information',
 'Opening',
 '$2,014,166',
 '1,006 theaters',
 'Release Date',
 'Dec 13, 1985',
 'Running Time',
 '1 hr 34 min',
 'Genres',
 'Comedy Crime Mystery Thriller',
 'In Release',
 '384 days/54 weeks',
 'Widest Release',
 '1,022 theaters',
 'IMDbPro',
 'See more details at IMDbPro']

In [153]:
# let's set a list of the columns we'll be making with the data. this list will be used to filter and grab the data
summary_cols = [
    'Distributor', 'Opening', 'Budget', 'Release Date', 'Release Date (Wide)', 'MPAA', 'Running Time', 'Genres',
    'In Release', 'Widest Release'
]

In [160]:
# make a list of the raw data that we need to filter
movie_summaries = summary_df['movie_summary'].map(lambda x: x.split('\n'))
movie_summaries

0        [Distributor, Twentieth Century Fox, See full ...
1        [Distributor, Columbia Pictures, See full comp...
2        [Distributor, United Artists, See full company...
3        [Distributor, Warner Bros., See full company i...
4        [Distributor, Warner Bros., See full company i...
                               ...
15917    [Distributor, The Cinema Guild, See full compa...
15918    [Distributor, Ammo Content, See full company i...
15919    [Distributor, Cohen Media Group, See full comp...
15920    [Distributor, Distrib Films, See full company ...
15921    [Distributor, Viva Pictures, See full company ...
Name: movie_summary, Length: 15922, dtype: object

In [169]:
# cycle through each movie summary and look for each entry.
# not all movies have all the data. so for movies with out that data we'll need to fill in "NONE"

# initialize a running list for each column of data we're after
running_dist = []
running_open = []
running_budg = []
running_reda = []
running_redw = []
running_mpaa = []
running_time = []
running_genr = []
running_inre = []
running_wire = []

# loop through each move summary
for n, summary in enumerate(movie_summaries):
    
#     print(summary_df.loc[n, 'title'])
    
    # loop through each entry in the summary description
    for i, entry in enumerate(summary):
            
        # check if the entry is in our list of columns
        if entry == summary_cols[0]: # Distributor
            running_dist.append(summary[i+1])
            
        elif entry == summary_cols[1]: # 'Opening'
            running_open.append(summary[i+1])
        
        elif entry == summary_cols[2]: # 'Budget'
            running_budg.append(summary[i+1])
        
        elif entry == summary_cols[3]: # 'Release Date'
            running_reda.append(summary[i+1])
        
        elif entry == summary_cols[4]: # 'Release Date (Wide)'
            running_redw.append(summary[i+1])
        
        elif entry == summary_cols[5]: # 'MPAA'
            running_mpaa.append(summary[i+1])
        
        elif entry == summary_cols[6]: # 'Running Time'
            running_time.append(summary[i+1])
        
        elif entry == summary_cols[7]: # 'Genres'
            running_genr.append(summary[i+1])
        
        elif entry == summary_cols[8]: # 'In Release'
            running_inre.append(summary[i+1])
        
        elif entry == summary_cols[9]: # 'Widest Release'
            running_wire.append(summary[i+1])
        
        else: # need a way to check for missing data that doesn't conflict with the other entries
            pass

#             print(i, entry)
#             print(i+1, summary[i+1])
#             print('-----')
    
#     print('----------')

In [181]:
len(running_dist)

15922

In [182]:
len(running_open)

15126

In [183]:
len(running_budg)

3318

In [184]:
len(running_reda)

15303

In [185]:
len(running_redw)

619

In [186]:
len(running_mpaa)

8919

In [187]:
len(running_time)

15867

In [188]:
len(running_genr)

15888

In [189]:
len(running_inre)

15922

In [190]:
len(running_wire)

15915