# 01 - Cleaning
___

In [1]:
# import
import pandas as pd
import numpy as np

In [3]:
# reads
gross_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/movies_total_gross.csv')
summary_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/movies_summary.csv')
castcrew_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/movies_castcrew.csv')

___
## Total Gross

In [11]:
gross_df.head()

,bom_id,title,total_gross,theaters,release_date,year
0,rl2759034369,Star Wars: Episode IV - A New Hope,"$307,263,857","1,750",May 25,1977
1,rl3561784833,The Deep,"$47,346,365",731,Jun 17,1977
2,rl2004059649,The Spy Who Loved Me,"$46,838,673",200,Jul 13,1977
3,rl2137425409,"Oh, God!","$41,687,243",198,Oct 7,1977
4,rl1582335489,Exorcist II: The Heretic,"$30,749,142",703,Jun 17,1977

In [12]:
gross_df.shape

(16247, 6)

In [13]:
gross_df.dtypes

bom_id          object
title           object
total_gross     object
theaters        object
release_date    object
year             int64
dtype: object