# EDA
___

In [9]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reads
gross_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/total_gross_v02.csv')
summary_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/summary_v02.csv')
castcrew_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/castcrew_v02.csv')

___

In [3]:
gross_df.shape

(15922, 6)

In [4]:
gross_df.head()

,bom_id,title,total_gross,theaters,release_date,year
0,rl2759034369,Star Wars: Episode IV - A New Hope,307263857,1750,1977-05-25,1977
1,rl3561784833,The Deep,47346365,731,1977-06-17,1977
2,rl2004059649,The Spy Who Loved Me,46838673,200,1977-07-13,1977
3,rl2137425409,"Oh, God!",41687243,198,1977-10-07,1977
4,rl1582335489,Exorcist II: The Heretic,30749142,703,1977-06-17,1977

In [11]:
gross_df.dtypes

bom_id          object
title           object
total_gross      int64
theaters         int64
release_date    object
year             int64
dtype: object

In [12]:
gross_df.describe()

        total_gross      theaters          year
count  1.592200e+04  15922.000000  15922.000000
mean   1.798390e+07    763.025751   2005.653561
std    4.678278e+07   1118.956385     10.094669
min    3.000000e+01      0.000000   1977.000000
25%    5.126725e+04      7.000000   1999.000000
50%    6.954895e+05     69.000000   2007.000000
75%    1.428554e+07   1276.000000   2014.000000
max    9.366622e+08   4802.000000   2019.000000

___

In [5]:
summary_df.shape

(15922, 14)

In [6]:
summary_df.head()

,bom_id,imdb_id,title,domestic_gross,international_gross,worldwide_gross,distributor,opening,budget,mpaa,run_time,genres,in_release,widest_release
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope,307263857,195751992,503015849,Twentieth Century Fox,1554475.0,11000000.0,PG,121.0,Action|Adventure|Fantasy|Sci-Fi,951,1750.0
1,rl3561784833,tt0075925,The Deep,47346365,0,47346365,Columbia Pictures,6835540.0,NaN,NONE,123.0,Adventure|Mystery|Thriller,198,731.0
2,rl2004059649,tt0076752,The Spy Who Loved Me,46838673,0,46838673,United Artists,NaN,NaN,NONE,125.0,Action|Adventure|Thriller,172,200.0
3,rl2137425409,tt0076489,"Oh, God!",41687243,0,41687243,Warner Bros.,2040920.0,NaN,NONE,98.0,Comedy|Fantasy,86,198.0
4,rl1582335489,tt0076009,Exorcist II: The Heretic,30749142,0,30749142,Warner Bros.,6735000.0,NaN,NONE,117.0,Horror,198,703.0

In [13]:
summary_df.dtypes

bom_id                  object
imdb_id                 object
title                   object
domestic_gross           int64
international_gross      int64
worldwide_gross          int64
distributor             object
opening                float64
budget                 float64
mpaa                    object
run_time               float64
genres                  object
in_release               int64
widest_release         float64
dtype: object

In [15]:
summary_df.describe()

,domestic_gross,international_gross,worldwide_gross,opening,budget,run_time,in_release,widest_release
count,1.592200e+04,1.592200e+04,1.592200e+04,1.512600e+04,3.318000e+03,15867.000000,15922.000000,15915.000000
mean,1.798390e+07,2.124325e+07,3.922715e+07,4.824242e+06,4.536256e+07,104.598979,257.164427,763.361357
std,4.678278e+07,7.731491e+07,1.193382e+08,1.397907e+07,4.672607e+07,23.610029,204.934224,1119.087987
min,3.000000e+01,0.000000e+00,3.000000e+01,1.100000e+01,2.200000e+02,8.000000,8.000000,1.000000
25%,5.126725e+04,0.000000e+00,1.134072e+05,1.015100e+04,1.344750e+07,91.000000,144.000000,7.000000
50%,6.954895e+05,1.333100e+04,2.253972e+06,7.788250e+04,3.000000e+07,100.000000,248.000000,69.000000
75%,1.428554e+07,5.690442e+06,2.254709e+07,3.559025e+06,6.000000e+07,113.000000,335.000000,1276.000000
max,9.366622e+08,1.994571e+09,2.797801e+09,3.571150e+08,3.560000e+08,808.000000,7608.000000,4802.000000

___

In [7]:
castcrew_df.shape

(15922, 14)

In [8]:
castcrew_df.head()

,bom_id,imdb_id,title,actor_1,actor_2,actor_3,actor_4,director,writer,producer,cinematographer,editor,production_designer,composer
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope (1977),Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,George Lucas,George Lucas,Gary Kurtz|Rick McCallum,Gilbert Taylor,Richard Chew|T.M. Christopher|Paul Hirsch|Marc...,John Barry,John Williams
1,rl3561784833,tt0075925,The Deep (1977),Jacqueline Bisset,Nick Nolte,Dick Anthony Williams,Robert Shaw,Peter Yates,Peter Benchley|Peter Benchley|Tracy Keenan Wynn,Peter Guber,Christopher Challis,David Berlatsky,Anthony Masters,John Barry
2,rl2004059649,tt0076752,The Spy Who Loved Me (1977),Roger Moore,Barbara Bach,Curd Jürgens,Richard Kiel,Lewis Gilbert,Christopher Wood|Richard Maibaum|Ian Fleming,Albert R. Broccoli,Claude Renoir,John Glen,Ken Adam,Marvin Hamlisch
3,rl2137425409,tt0076489,"Oh, God! (1977)",John Denver,George Burns,Teri Garr,Donald Pleasence,Carl Reiner,Larry Gelbart|Avery Corman,Jerry Weintraub,Victor J. Kemper,Bud Molin,NONE,Jack Elliott
4,rl1582335489,tt0076009,Exorcist II: The Heretic (1977),Richard Burton,Linda Blair,Louise Fletcher,Max von Sydow,John Boorman|Rospo Pallenberg,William Goodhart|William Peter Blatty|Rospo Pa...,John Boorman|Richard Lederer,William A. Fraker,Tom Priestley,Richard Macdonald,Ennio Morricone

In [17]:
castcrew_df.dtypes

bom_id                 object
imdb_id                object
title                  object
actor_1                object
actor_2                object
actor_3                object
actor_4                object
director               object
writer                 object
producer               object
cinematographer        object
editor                 object
production_designer    object
composer               object
dtype: object

___

In [30]:
castcrew_df['title'].map(lambda x: (x.split()[-1].strip(')(')) if x.split()[-1].strip(')(').isdigit() else x).sort_values()

8386         1920
12133        1920
8021         1921
13540        1921
10037        1925
           ...
15573        2019
15302        2019
14646        2020
12146     ERROR!!
10420    Hysteria
Name: title, Length: 15922, dtype: object

In [32]:
summary_df.loc[12146]

bom_id                           rl895976961
imdb_id                            tt2250380
title                    Next Year Jerusalem
domestic_gross                          8093
international_gross                        0
worldwide_gross                         8093
distributor                        First Run
opening                                 2590
budget                                   NaN
mpaa                                    NONE
run_time                                  72
genres                 Biography|Documentary
in_release                               230
widest_release                             2
Name: 12146, dtype: object

In [33]:
summary_df.loc[10420]

bom_id                           rl3495462401
imdb_id                             tt1064958
title                                Hysteria
domestic_gross                        1804139
international_gross                   7780117
worldwide_gross                       9584256
distributor            Sony Pictures Classics
opening                                 35656
budget                                    NaN
mpaa                                     NONE
run_time                                  NaN
genres                               Thriller
in_release                                228
widest_release                            218
Name: 10420, dtype: object