# EDA
___

In [9]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reads
gross_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/total_gross_v02.csv')
summary_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/summary_v02.csv')
castcrew_df = pd.read_csv('../../../../Data/Movies/Box_Office_Mojo/cleaning/castcrew_v02.csv')

In [3]:
gross_df.shape

(15922, 6)

In [4]:
gross_df.head()

,bom_id,title,total_gross,theaters,release_date,year
0,rl2759034369,Star Wars: Episode IV - A New Hope,307263857,1750,1977-05-25,1977
1,rl3561784833,The Deep,47346365,731,1977-06-17,1977
2,rl2004059649,The Spy Who Loved Me,46838673,200,1977-07-13,1977
3,rl2137425409,"Oh, God!",41687243,198,1977-10-07,1977
4,rl1582335489,Exorcist II: The Heretic,30749142,703,1977-06-17,1977

In [5]:
summary_df.shape

(15922, 14)

In [6]:
summary_df.head()

,bom_id,imdb_id,title,domestic_gross,international_gross,worldwide_gross,distributor,opening,budget,mpaa,run_time,genres,in_release,widest_release
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope,307263857,195751992,503015849,Twentieth Century Fox,1554475.0,11000000.0,PG,121.0,Action|Adventure|Fantasy|Sci-Fi,951,1750.0
1,rl3561784833,tt0075925,The Deep,47346365,0,47346365,Columbia Pictures,6835540.0,NaN,NONE,123.0,Adventure|Mystery|Thriller,198,731.0
2,rl2004059649,tt0076752,The Spy Who Loved Me,46838673,0,46838673,United Artists,NaN,NaN,NONE,125.0,Action|Adventure|Thriller,172,200.0
3,rl2137425409,tt0076489,"Oh, God!",41687243,0,41687243,Warner Bros.,2040920.0,NaN,NONE,98.0,Comedy|Fantasy,86,198.0
4,rl1582335489,tt0076009,Exorcist II: The Heretic,30749142,0,30749142,Warner Bros.,6735000.0,NaN,NONE,117.0,Horror,198,703.0

In [7]:
castcrew_df.shape

(15922, 14)

In [8]:
castcrew_df.head()

,bom_id,imdb_id,title,actor_1,actor_2,actor_3,actor_4,director,writer,producer,cinematographer,editor,production_designer,composer
0,rl2759034369,tt0076759,Star Wars: Episode IV - A New Hope (1977),Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,George Lucas,George Lucas,Gary Kurtz|Rick McCallum,Gilbert Taylor,Richard Chew|T.M. Christopher|Paul Hirsch|Marc...,John Barry,John Williams
1,rl3561784833,tt0075925,The Deep (1977),Jacqueline Bisset,Nick Nolte,Dick Anthony Williams,Robert Shaw,Peter Yates,Peter Benchley|Peter Benchley|Tracy Keenan Wynn,Peter Guber,Christopher Challis,David Berlatsky,Anthony Masters,John Barry
2,rl2004059649,tt0076752,The Spy Who Loved Me (1977),Roger Moore,Barbara Bach,Curd Jürgens,Richard Kiel,Lewis Gilbert,Christopher Wood|Richard Maibaum|Ian Fleming,Albert R. Broccoli,Claude Renoir,John Glen,Ken Adam,Marvin Hamlisch
3,rl2137425409,tt0076489,"Oh, God! (1977)",John Denver,George Burns,Teri Garr,Donald Pleasence,Carl Reiner,Larry Gelbart|Avery Corman,Jerry Weintraub,Victor J. Kemper,Bud Molin,NONE,Jack Elliott
4,rl1582335489,tt0076009,Exorcist II: The Heretic (1977),Richard Burton,Linda Blair,Louise Fletcher,Max von Sydow,John Boorman|Rospo Pallenberg,William Goodhart|William Peter Blatty|Rospo Pa...,John Boorman|Richard Lederer,William A. Fraker,Tom Priestley,Richard Macdonald,Ennio Morricone

___