# LAPD - Arrest Data 2010 - 2019
___

In [2]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# data provided from https://data.lacity.org/A-Safe-City/Arrest-Data-from-2010-to-2019/yru6-6re4/data
df = pd.read_csv('../../Data/LAPD Arrest/Arrest_Data_from_2010_to_2019.csv')
df.head()

/Users/Creighton/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Report ID,Report Type,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,...,Disposition Description,Address,Cross Street,LAT,LON,Location,Booking Date,Booking Time,Booking Location,Booking Location Code
0,76089,RFC,02/12/2017,2127.0,21,Topanga,2149,27,M,W,...,MISDEMEANOR COMPLAINT FILED,6800 QUAKERTOWN AV,NaN,34.1938,-118.5699,POINT (-118.5699 34.1938),NaN,NaN,NaN,NaN
1,100107570,RFC,03/11/2010,1200.0,1,Central,181,46,M,W,...,MISDEMEANOR COMPLAINT FILED,1100 S FIGUEROA ST,NaN,34.0437,-118.2652,POINT (-118.2652 34.0437),NaN,NaN,NaN,NaN
2,100112349,RFC,06/14/2010,1440.0,1,Central,138,50,M,W,...,MISDEMEANOR COMPLAINT FILED,300 CROCKER ST,NaN,34.0464,-118.2402,POINT (-118.2402 34.0464),NaN,NaN,NaN,NaN
3,100112759,RFC,06/21/2010,1555.0,1,Central,176,17,F,A,...,NaN,9TH,MAPLE,34.0392,-118.2524,POINT (-118.2524 34.0392),NaN,NaN,NaN,NaN
4,100116101,RFC,08/25/2010,1845.0,1,Central,185,45,M,H,...,MISDEMEANOR COMPLAINT FILED,PICO,MAIN,34.0369,-118.2607,POINT (-118.2607 34.0369),NaN,NaN,NaN,NaN

In [4]:
df.shape

(1318656, 25)